@model schoolManagment.Models.EtudiantViewModel
@{
    ViewBag.Title = "Home Page";
}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">CNE</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Date de Niassance</th>
                <th scope="col">Filiere</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var E in Model.Etudiants)
            {
                <tr>
                    
                    <td>@E.CNE</td>
                    <td>@E.Name</td>
                    <td>@E.Nickname</td>
                    <td>@E.DateNaissance.ToShortDateString()</td>
                    <td>@E.Filiere</td>
                    
                </tr>
            }
            </tbody>
        </table>
