@model schoolManagment.Models.LoginViewModel
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Sign in</h3>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(e => e.Email, new { @class = "form-label" })
                                @Html.TextBoxFor(e => e.Email, new { @class = "form-control form-control-lg" })

                                @Html.ValidationMessageFor(e => e.Email, null, new { @class = "text-danger" })

                            </div>

                            <div class="form-outline mb-4">
                                @Html.LabelFor(e => e.Password, new { @class = "form-label" })
                                @Html.TextBoxFor(e => e.Password, new { @class = "form-control form-control-lg",@type="password" })

                                @Html.ValidationMessageFor(e => e.Password, null, new { @class = "text-danger" })
                            </div>



                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
